<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div
    class="p-5 mt-4 border-2 border-gray-200 border-dashed  w-full h-full rounded-2xl">
  <div *ngFor="let field of fields">
      <div [ngSwitch]="field.type">
        <div *ngSwitchCase="'text'">
          <span class="text-xs">{{field.required}}</span>
          <app-input [control]="form.get(field.name)" [id]=field.name [name]=field.name
            [type]=field.type [label]=field.label [maxlength]=field.maxlength
      [minlength]=field.minlength [autofocus]=field.autofocus [required]=field.required [pattern]=field.pattern></app-input>
      </div>
      <div *ngSwitchCase="'email'">
        <app-input [control]="form.get(field.name)" [id]=field.name [name]=field.name [type]=field.type [label]=field.label
          [maxlength]=field.maxlength [minlength]=field.minlength [autofocus]=field.autofocus [required]=field.required
          [pattern]=field.pattern></app-input>
      </div>
      <div *ngSwitchCase="'date'"> <app-input [control]="form.get(field.name)" [id]=field.name [name]=field.name
          [type]=field.type [label]=field.label [maxlength]=field.maxlength [minlength]=field.minlength
          [autofocus]=field.autofocus [required]=field.required [pattern]=field.pattern></app-input>
      </div>
      <div *ngSwitchCase="'checkbox'"> <app-input [control]="form.get(field.name)" [id]=field.name [name]=field.name
          [type]=field.type [label]=field.label [maxlength]=field.maxlength [minlength]=field.minlength
          [autofocus]=field.autofocus [required]=field.required [pattern]=field.pattern></app-input>
      </div>
      <div *ngSwitchCase="'number'"> <app-input [control]="form.get(field.name)" [id]=field.name [name]=field.name
          [type]=field.type [label]=field.label [maxlength]=field.maxlength [minlength]=field.minlength
          [autofocus]=field.autofocus [required]=field.required [pattern]=field.pattern></app-input>
      </div>
      <div *ngSwitchCase="'tel'"> <app-input [control]="form.get(field.name)" [id]=field.name [name]=field.name
          [type]=field.type [label]=field.label [maxlength]=field.maxlength [minlength]=field.minlength
          [autofocus]=field.autofocus [required]=field.required [pattern]=field.pattern></app-input>
      </div>
      <div *ngSwitchCase="'password'"> <app-input [control]="form.get(field.name)" [id]=field.name [name]=field.name
          [type]=field.type [label]=field.label [maxlength]=field.maxlength [minlength]=field.minlength
          [autofocus]=field.autofocus [required]=field.required [pattern]=field.pattern></app-input>
      </div>
      <div *ngSwitchCase="'search'"> <app-input [control]="form.get(field.name)" [id]=field.name [name]=field.name
          [type]=field.type [label]=field.label [maxlength]=field.maxlength [minlength]=field.minlength
          [autofocus]=field.autofocus [required]=field.required [pattern]=field.pattern></app-input>
      </div>
      <div *ngSwitchCase="'file'"> <app-input [control]="form.get(field.name)" [id]=field.name [name]=field.name
          [type]=field.type [label]=field.label [maxlength]=field.maxlength [minlength]=field.minlength
          [autofocus]=field.autofocus [required]=field.required [pattern]=field.pattern></app-input>
      </div>
      <div *ngSwitchCase="'textarea'">
        <app-input [control]="form.get(field.name)" [id]=field.name [name]=field.name [type]=field.type [label]=field.label
          [maxlength]=field.maxlength [minlength]=field.minlength [autofocus]=field.autofocus [required]=field.required
          [pattern]=field.pattern></app-input>
      </div>
      <div *ngSwitchCase="'select'">
        <app-input [options]="field.options" [control]="form.get(field.name)" [id]=field.name [name]=field.name
          [type]=field.type [label]=field.label
          [maxlength]=field.maxlength [minlength]=field.minlength [autofocus]=field.autofocus [required]=field.required
          [pattern]=field.pattern></app-input>
      </div>
      </div>
      </div>
</div>
<div class="flex justify-start mt-4">
  <button
    class="inline-block  shrink-0 rounded-3xl border border-gray-300 mx-1 px-6 py-2 text-sm font-semibold hover:bg-gray-400 hover:text-white focus:outline-none active:text-white disabled:cursor-not-allowed">
    الغاء
  </button>
  <button type="submit" [disabled]="form.invalid"
    class="inline-block bg-black shrink-0 rounded-3xl mx-1 px-6 py-1 text-sm font-semibold text-white hover:text-gray-50 focus:outline-none active:text-white disabled:cursor-not-allowed disabled:bg-gray-200 disabled:text-gray-400">
    تأكيد
  </button>
</div>
</form>