<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div *ngFor="let field of fields">
      <div [ngSwitch]="field.type">
        <div *ngSwitchCase="'text'"> <app-input [control]="form.get(field.name)" [id]=field.name [name]=field.name
            [type]=field.type [label]=field.label [maxlength]=field.maxlength
      [minlength]=field.minlength [autofocus]=field.autofocus [required]=field.required [pattern]=field.pattern></app-input>
      </div>
      <div *ngSwitchCase="'email'">
        <app-input [control]="form.get(field.name)" [id]=field.name [name]=field.name [type]=field.type [label]=field.label
          [maxlength]=field.maxlength [minlength]=field.minlength [autofocus]=field.autofocus [required]=field.required
          [pattern]=field.pattern></app-input>
      </div>
      <div *ngSwitchCase="'textarea'">
        <app-input [control]="form.get(field.name)" [id]=field.name [name]=field.name [type]=field.type [label]=field.label
          [maxlength]=field.maxlength [minlength]=field.minlength [autofocus]=field.autofocus [required]=field.required
          [pattern]=field.pattern></app-input>
      </div>
      <div *ngSwitchCase="'select'">
        <app-input [control]="form.get(field.name)" [id]=field.name [name]=field.name [type]=field.type [label]=field.label
          [maxlength]=field.maxlength [minlength]=field.minlength [autofocus]=field.autofocus [required]=field.required
          [pattern]=field.pattern></app-input>
      </div>
      </div>
      </div>
  <button type="submit">Submit</button>
</form>
<!-- 
<textarea *ngSwitchCase="'textarea'" [id]="field.name" [formControlName]="field.name"></textarea>
<select *ngSwitchCase="'select'" [id]="field.name" [formControlName]="field.name">
  <option *ngFor="let option of field.options" [value]="option.value">{{option.label}}</option>
</select> -->