<!-- Start block -->
<section class="h-full bg-gray-100 p-3 sm:p-5 antialiased">
  <div class="mx-auto max-w-screen-2xl px-4 lg:px-12">
    <div class="bg-white h-full relative shadow-md sm:rounded-lg overflow-hidden">
      <app-grid-header [data]="users"></app-grid-header>
      <app-grid-actions (viewAddUserModal)="toggleAddUserModal($event)"></app-grid-actions>
      <app-table [data]="users"></app-table>
    <app-grid-footer [data]="users"></app-grid-footer>
    </div>
  </div>
</section>
<!-- End block -->
<!-- Add Modal -->
<app-modal *ngIf="showAddUserModal"></app-modal>
<!-- Delete Modal -->
<app-popup></app-popup>