<!-- Start block -->
<section class="h-full bg-gray-100 p-3 sm:p-5 antialiased">
  <div class="mx-auto max-w-screen-2xl px-4 lg:px-12">
    <div class="bg-white h-full relative shadow-md sm:rounded-lg overflow-hidden">
      <app-grid-header [data]="users"></app-grid-header>
      <app-grid-actions (viewAddUserModal)="toggleAddUserModal($event)"></app-grid-actions>
      <app-table [data]="users"></app-table>
    <app-grid-footer [data]="users"></app-grid-footer>
    </div>
  </div>
</section>
<!-- End block -->
<!-- Add Modal -->
<app-modal *ngIf="true">
  <div modal-header>
    <div class="flex flex-row-reverse justify-between ">
      <button type="button"
        class=" text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-3xl text-sm p-1.5  inline-flex items-center"
        data-modal-hide="popup-modal">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg" (click)="true">
          <path fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
      <h3 class="text-xl font-semibold text-gray-900 ">
        Add user
      </h3>
    </div>
  </div>
  <div modal-body>
    <form>
      <div
        class="p-5 mt-4 border-2 border-gray-200 border-dashed border-b-0 w-full h-full grid grid-rows-2 grid-cols-2 gap-2 justify-end rounded-t-2xl">
        <div class="flex flex-col">
          <label class="text-sm font-semibold text-gray-900 mb-2">
            <span>firstname</span>
            <span>*</span>
          </label>
        </div>
        <div class="flex flex-col">
          <label class="text-sm font-semibold text-gray-900 mb-2">
            <span>lastname</span>
            <span>*</span>
          </label>
        </div>
        <div class="flex flex-col">
          <label class="text-sm font-semibold text-gray-900 mb-2">
            <span>phonenumber</span>
            <span>*</span>
          </label>
        </div>
        <div class="flex flex-col">
          <label class="text-sm font-semibold text-gray-900 mb-2">
            <span>email</span>
            <span>*</span>
          </label>
        </div>
        <div class="flex flex-col col-span-2">
          <label class="text-sm font-semibold text-gray-900 mb-2">
            <span>birthdate</span>
            <span>*</span>
          </label>
        </div>
        <div class="flex flex-col col-span-2">
          <label class="text-sm font-semibold text-gray-900 mb-2">
            <span>address</span>
            <span>*</span>
          </label>
        </div>
      </div>
      <div class="flex flex-col p-2 border-2 border-gray-200 border-dashed border-t-0 w-full h-full rounded-b-3xl">
        <div class="flex justify-start">
          <button
            class="inline-block  shrink-0 rounded-3xl border border-gray-300 mx-1 px-6 py-2 text-sm font-semibold hover:bg-gray-400 hover:text-white focus:outline-none active:text-white disabled:cursor-not-allowed">
            الغاء
          </button>
          <button type="submit"
            class="inline-block bg-black shrink-0 rounded-3xl mx-1 px-6 py-1 text-sm font-semibold text-white hover:text-gray-50 focus:outline-none active:text-white disabled:cursor-not-allowed disabled:bg-gray-200 disabled:text-gray-400">
            تأكيد
          </button>
        </div>
      </div>
    </form>
  </div>
</app-modal>
<!-- Delete Modal -->
<app-popup></app-popup>